img {
    width: 400px;
}
 body {
    text-align: center;
    font-family: 'Tahoma';
    background: azure;
    color: red; 
    border: 50px solid red;
 }

.video {
   float: right;
   margin-left: 20px;
}