img {
    width: 400px;
}
 body {
    text-align: center;
    font-family: 'Tahoma';
    background: azure;
    color: rgb(76, 188, 177); 
 }



.btn1 {
   background-color: aquamarine;
}

.surfers video{
   position:fixed;
   top: 0;
   right: 0;
   width: 20vw;
   height: auto;
   z-index: 1; 
}

.subway {
   width: 50vw;
   height: auto;
}

.top_left_text {
   margin-right: 30vw;
}

.middle_text {
   margin-top: 20vw;
}


